{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}My RPG Books{% endblock title %}
{% block content %}
<h1>My RPG Books</h1>

<div class="row">
  {% for book in books %}
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{book.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'books:books_by_system' book.system.slug %}">System:
          {{book.system}}</a></h6>
      <p class="card-text">Tags:
      <ul>
        {% for tag in book.tags.all %}
        <li>{{tag}}</li>
        {% endfor %}
      </ul>
      </p>
      <a href="{% url 'books:book_detail' book.slug %}">See book detail</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
