{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}My RPG Books{% endblock title %}
{% block content %}
<h1>My RPG Books</h1>
{% if filtered_by %}<p class="text-muted">Filtered by {{filtered_by}}<br><a href="{% url 'books:index' %}">See all
    books</a></p>{% endif %}

<div class="row mt-5">
  {% if books %}
  {% for book in books %}
  <div class="card m-2" style="width: 18rem;">
    <a href="{% url 'books:book_detail' book.slug %}">
      <img class="card-img-top" width="286px" src="{% get_media_prefix %}{{book.cover}}" alt="Cover of {{book.title}}.">
      <div class="card-body">
    </a>
    <h5 class="card-title"> <a href="{% url 'books:book_detail' book.slug %}">{{book.title}}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">System:
      <a href="{% url 'books:books_by_system' book.system.slug %}">{{book.system}}</a>
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">Book type:
      <a href="{% url 'books:books_by_book_type' book.book_type %}">{{book.display_book_type}}</a>
    </h6>
  </div>
</div>
{% endfor %}
{% else %}
<p>Sorry, your books are in another castle…</p>
{% endif %}
</div>

<!-- Pagination -->
{% if books.paginator.num_pages > 1 %}
<nav class="mt-5" aria-label="Page navigation example">
  <ul class="pagination">
    {% if books.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ books.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for _ in ''|ljust:books.paginator.num_pages %}

    {% if books.number == forloop.counter %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }} <span
          class="sr-only">(current)</span></a>
      {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
      {% endif %}
    </li>
    {% endfor %}

    {% if books.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
<!-- Paginator end -->
{% endblock %}
