{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Edit {{book.title}}{% endblock title %}
{% block content %}

<a href="/">Home</a> > <a href="{% url 'books:index' %}">Books</a> > <span>{{book.title}}</span>

<h1>Edit {{book.title}}</h1>

<form action="{% url 'books:book_edit' book.slug %}" method="post" enctype='multipart/form-data'>
  {% csrf_token %}
  {{ form|crispy }}
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <button class="btn btn-warning btn-lg" type="submit">Update book</button>
      </div>
    </div>
  </div>
</form>

{% endblock %}
