{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{book.title}}{% endblock title %}
{% block content %}
<h1>{{book.title}}</h1>


{% if book.cover %}
<h2>Cover</h2>
<img class="rounded img-fluid portrait" src="{% get_media_prefix %}{{book.cover}}" alt="Cover of {{book.title}}.">
{% endif %}

<h2>Blurb</h2>
{{book.blurb|safe}}

<h2>System</h2>
{{book.system}}

<h2>Tags</h2>
<ul>
  {% for tag in book.tags.all %}
  <li>{{tag}}</li>
  {% endfor %}
</ul>

{% if book.want_to_run %}
<h2>Want to run </h2>
✅
{% endif %}
{% endblock %}
