{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}My RPG Books{% endblock title %}
{% block content %}
<h1>My RPG Books</h1>
{% if filtered_by %}<p class="text-muted">Filtered by {{filtered_by}}<br><a href="{% url 'books:index' %}">See all
    books</a></p>{% endif %}

<div class="row mt-5">
  {% for book in books %}
  <div class="card m-2" style="width: 18rem;">
  <img class="card-img-top" width="286px" src="{% get_media_prefix %}{{book.cover}}" alt="Cover of {{book.title}}.">
  <div class="card-body">
    <h5 class="card-title"> <a href="{% url 'books:book_detail' book.slug %}">{{book.title}}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">System:
        <a href="{% url 'books:books_by_system' book.system.slug %}">{{book.system}}</a>
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">Book type:
        <a href="{% url 'books:books_by_book_type' book.book_type %}">{{book.display_book_type}}</a>
      </h6>
      <p class="card-text">Tags:
      <ul class="list-inline">
        {% for tag in book.tags.all %}
        <li class="list-inline-item"><a href="{% url 'books:books_by_tag' tag.slug %}">{{tag}}</a></li>
        {% endfor %}
      </ul>
      </p>
  </div>
</div>
  {% endfor %}
</div>
{% endblock %}
