{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{book.title}}{% endblock title %}
{% block content %}
<h1>{{book.title}}</h1>


{% if book.cover %}
<h2>Cover</h2>
<img class="rounded img-fluid portrait" src="{% get_media_prefix %}{{book.cover}}" alt="Cover of {{book.title}}.">
{% endif %}

<hr>
<h2>Blurb</h2>
{{book.blurb|safe}}

<hr>
<table class="table table-borderless">
  <tr>
    <td>System</td>
    <td><a href="{% url 'books:books_by_system' book.system.slug %}">{{book.system}}</a></td>
  </tr>
  <tr>
    <td>Type</td>
    <td><a href="{% url 'books:books_by_book_type' book.book_type %}">{{book.display_book_type}}</a></td>
  </tr>
  <tr>
    <td>Tags</td>
    <td>
      <ul class="list-inline">
        {% for tag in book.tags.all %}
        <li class="list-inline-item"><a href="{% url 'books:books_by_tag' tag.slug %}">{{tag}}</a></li>
        {% endfor %}
      </ul>
    </td>
  </tr>
</table>
<hr>

{% if book.want_to_run %}
<h2>Want to run </h2>
✅
{% endif %}
{% endblock %}
